# 1. 
Write a Python program to create a tuple.

In [2]:
t = tuple()
print(type(t))

<class 'tuple'>

# 2. 

Write a Python program to create a tuple with different data types.

In [5]:
t = ('Tuple' ,True ,20 ,[2,3])
print(t)

('Tuple', True, 20, [2, 3])

# 3. 

Write a Python program to create a tuple with numbers and print one item.

In [8]:
t = (2,3,4,5)
print(t[-1])

5

# 4. 

Write a Python program to unpack a tuple in several variables.

# packing and unpacking in tuple
    
    - right hand side value to left hand side

In [14]:
a = ('krishna',22,'Bokaro')
print(a)

# unpacking the value

(name,age,hometown) = a

# printing the value

print(name)
print(age)
print(hometown)

('krishna', 22, 'Bokaro')
krishna
22
Bokaro

In [20]:
*x , y , z = (10, 'python', 3, 'string', 40)

print(x)
print(y)
print(z)

[10, 'python', 3]
string
40

In [21]:
x , *y , z = (10, 'python', 3, 'string', 40)

print(x)
print(y)
print(z)

10
['python', 3, 'string']
40

In [22]:
x , y , *z = (10, 'python', 3, 'string', 40)

print(x)
print(y)
print(z)

10
python
[3, 'string', 40]

In [23]:
# this won't work

*x , *y , z = (10, 'python', 3, 'string', 40)

print(x)
print(y)
print(z)

SyntaxError: two starred expressions in assignment (<ipython-input-23-f483cfec3d4f>, line 4)

# 5. 
Write a Python program to add an item in a tuple.

In [5]:
t1 = (1,2,3,4)

#convert into list
l1 = list(t1)

#append the elements
l1.append(5)

# then convert into tuple
t1 = tuple(l1)
print(t1)

(1, 2, 3, 4, 5)

In [14]:
# other solution

t1 = (1,2,3,4,5,6)
print(t1)

t1 = t1 + (9,) # , is required otherwise it will consider int
print(t1)

print(t1.index(6))   # if you want to add item in specific index find index

t1 = t1[:5] + (7,8,) + t1[5:]
print(t1)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 9)
5
(1, 2, 3, 4, 5, 7, 8, 6, 9)

# 6. 
Write a Python program to convert a tuple to a string.

In [27]:
t1 = ('T1','T2','T3')
print(t1)

# to convert tuple into string 
# if you are specifying index

s = ''.join(t1[0]+t1[1])
print(s)

# if index is not given
s = ''.join(t1)
print(s)

#check the type
print(type(s))

('T1', 'T2', 'T3')
T1T2
T1T2T3
<class 'str'>

# 7. 

Write a Python program to get the 4th element and 4th element from last of a tuple.

In [31]:
t1 = (1,2,3,4,5,6,7,8,9,10)
print(t1[3],t1[-4])

4 7

# 8. 
Write a Python program to create the colon of a tuple.

In [33]:
# headers = ['Host: www.perdu.com', 'Connection: keep-alive', 
#            'Cache-Control: max-age=0', 
#            'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,/;q=0.8',
#            'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36',
#            'DNT: 1', 'Accept-Encoding: gzip,deflate,sdch', 'Accept-Language: en-US,en;q=0.8,es;q=0.6,fr;q=0.4', '']
# t1 = [tuple(i.split(': ')) for i in headers]
# print(t1)

[('Host', 'www.perdu.com'), ('Connection', 'keep-alive'), ('Cache-Control', 'max-age=0'), ('Accept', 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,/;q=0.8'), ('User-Agent', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.111 Safari/537.36'), ('DNT', '1'), ('Accept-Encoding', 'gzip,deflate,sdch'), ('Accept-Language', 'en-US,en;q=0.8,es;q=0.6,fr;q=0.4'), ('',)]

In [45]:
from copy import deepcopy

# create tuple

t1 = ('Python',[],5,True)

# copy of tuple t1 using deepcopy

t1_copy = deepcopy(t1)
print(t1_copy)
print(id(t1_copy))


# we can append list inside tuple

t1_copy[1].append(10)
print(t1_copy)
print(id(t1_copy))

('Python', [], 5, True)
4621770384
('Python', [10], 5, True)
4621770384

# 9. 
Write a Python program to find the repeated items of a tuple.

In [46]:
t1 = (1,2,3,4,5,1,4,5,1,2,3,1)
print(t1.count(1))

4

In [54]:
t1 = (1,2,3,4,5,1,4,5,1,2,3,1)
for t in t1:
    t1.count(t)
    print(t,':',t1.count(t))

1 : 4
2 : 2
3 : 2
4 : 2
5 : 2
1 : 4
4 : 2
5 : 2
1 : 4
2 : 2
3 : 2
1 : 4

# 10. 
Write a Python program to check whether an element exists within a tuple.

In [57]:
t1 = (1,2,3,4,5,6,7)
if 9 in t1:
    print(True)
else:
    print(False)

False